:root{
    --color-primary: #200dce;
    --color-secondary: #00e1ff;
    --color-accent: orange;
    --color-hedings: #22196d;
    --color-body: #524a97;
}

/* Typography */

html{
    /* 16-nak a 62.5%-a = 10px */
    
    font-size: 62.5%;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1,h2,h3{
    color: var(--color-hedings);
    margin-bottom: 0rem;
}

h1{
    /* 1 rem = 10px */
    font-size: 7rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
    
}

p{
    margin-top: 0;
}

@media screen and (min-width: 1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}

/* Links */
a{
    text-decoration: none;
}
.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content: "->";
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after{
    margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
}